/**
 * @since 2023-10-09
 * @author vivaxy
 */
body {
  font-family: system-ui;
}

.form-group,
.button-group,
.preview-group {
  margin: 24px;
}

.text-line {
  margin-left: 24px;
}

.input-item {
  margin-right: 12px;
}

#svg svg {
  box-shadow: 0 0 24px 0 #999;
}

a[download] {
  display: inline-block;
  width: 160px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: #333;
  background: #efefef;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 4px;
}

a[download]:hover {
  background: #dedede;
}
