/**
 * @since 2019-10-27 03:18
 * @author vivaxy
 */
body {
  margin: 0;
}

.output-row {
  position: relative;
}

.download-image {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.output {
  display: block;
  width: 100%;
  height: 300px;
}

.row {
  display: flex;
}

label {
  display: block;
  width: 120px;
  font-size: 12px;
  flex: none;
}

input {
  display: block;
  flex: 1 1 auto;
  width: 0;
}

select {
  display: block;
  flex: 1 1 auto;
  width: 0;
}

img {
  display: block;
  flex: 1 1 auto;
  width: 0;
}
