.letter1 {
  padding-top: 10%;
  text-align: center;
  font-size: 0;
}

.letter1 span {
  min-width: 10px;
  display: inline-block;
  font-size: 60px;
  color: #ff514d;
  -webkit-transform: translate3d(0, -200px, 0) scale3d(1, 1, 1);
  transform: translate3d(0, -200px, 0) scale3d(1, 1, 1);
}

.letter1 .drop {
  /*-webkit-animation: drop 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);*/
  -webkit-animation: drop 0.3s linear both;
  /*animation: drop 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);*/
  animation: drop 0.3s linear both;
}

@-webkit-keyframes drop {
  0% {
    -webkit-transform: translate3d(0, -200px, 0) scale3d(1, 1, 1);
  }
  80% {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
  90% {
    -webkit-transform: translate3d(0, 10px, 0) scale3d(1.25, 0.8, 1);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
}

@keyframes drop {
  0% {
    transform: translate3d(0, -200px, 0) scale3d(1, 1, 1);
  }
  80% {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
  90% {
    transform: translate3d(0, 10px, 0) scale3d(1.25, 0.8, 1);
  }
  100% {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
}
