/**
 * @since 15-09-04 13:27
 * @author vivaxy
 */
* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
}

input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    border: none;
    background: #fff;
    cursor: pointer;
    margin: 0;
    position: relative;
}

input::-webkit-slider-thumb:before {
    content: '';
    width: 1px;
    height: 16px;
    background: #ccc;
    position: absolute;
    top: 10px;
    left: 6px;
}

input::-webkit-slider-thumb:after {
    content: '';
    width: 1px;
    height: 16px;
    background: #ccc;
    position: absolute;
    top: 10px;
    left: 10px;
}

.hide {
    display: none;
}

loading {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(255, 255, 255, 0.5);
}

loading .inner {
    position: relative;
    top: 150px;
    -webkit-transform: scale(0.25);
    transform: scale(0.25);
}

loading .inner .pace-activity {
    width: 140px;
    height: 140px;
    margin-left: -70px;
    border-radius: 70px;
    background: #29d;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1911;
    -webkit-animation: pace-bounce 1s infinite;
    -moz-animation: pace-bounce 1s infinite;
    -o-animation: pace-bounce 1s infinite;
    -ms-animation: pace-bounce 1s infinite;
    animation: pace-bounce 1s infinite;
}

loading .inner .pace-progress {
    position: absolute;
    display: block;
    left: 50%;
    bottom: 0;
    z-index: 1910;
    margin-left: -30px;
    width: 60px;
    height: 75px;
    background: rgba(20, 20, 20, .1);
    box-shadow: 0 0 20px 35px rgba(20, 20, 20, .1);
    border-radius: 30px / 40px;
    -webkit-transform: scaleY(.3) translateY(1000px) !important;
    -moz-transform: scaleY(.3) translateY(1000px) !important;
    -ms-transform: scaleY(.3) translateY(1000px) !important;
    -o-transform: scaleY(.3) translateY(1000px) !important;
    transform: scaleY(.3) translateY(1000px) !important;
    -webkit-animation: pace-compress .5s infinite alternate;
    -moz-animation: pace-compress .5s infinite alternate;
    -o-animation: pace-compress .5s infinite alternate;
    -ms-animation: pace-compress .5s infinite alternate;
    animation: pace-compress .5s infinite alternate;
}

@-webkit-keyframes pace-bounce {
    0% {
        top: 0;
        -webkit-animation-timing-function: ease-in;
    }
    40% {
    }
    50% {
        top: 140px;
        height: 140px;
        -webkit-animation-timing-function: ease-out;
    }
    55% {
        top: 160px;
        height: 120px;
        border-radius: 70px / 60px;
        -webkit-animation-timing-function: ease-in;
    }
    65% {
        top: 120px;
        height: 140px;
        border-radius: 70px;
        -webkit-animation-timing-function: ease-out;
    }
    95% {
        top: 0;
        -webkit-animation-timing-function: ease-in;
    }
    100% {
        top: 0;
        -webkit-animation-timing-function: ease-in;
    }
}

@-moz-keyframes pace-bounce {
    0% {
        top: 0;
        -moz-animation-timing-function: ease-in;
    }
    40% {
    }
    50% {
        top: 140px;
        height: 140px;
        -moz-animation-timing-function: ease-out;
    }
    55% {
        top: 160px;
        height: 120px;
        border-radius: 70px / 60px;
        -moz-animation-timing-function: ease-in;
    }
    65% {
        top: 120px;
        height: 140px;
        border-radius: 70px;
        -moz-animation-timing-function: ease-out;
    }
    95% {
        top: 0;
        -moz-animation-timing-function: ease-in;
    }
    100% {
        top: 0;
        -moz-animation-timing-function: ease-in;
    }
}

@keyframes pace-bounce {
    0% {
        top: 0;
        animation-timing-function: ease-in;
    }
    50% {
        top: 140px;
        height: 140px;
        animation-timing-function: ease-out;
    }
    55% {
        top: 160px;
        height: 120px;
        border-radius: 70px / 60px;
        animation-timing-function: ease-in;
    }
    65% {
        top: 120px;
        height: 140px;
        border-radius: 70px;
        animation-timing-function: ease-out;
    }
    95% {
        top: 0;
        animation-timing-function: ease-in;
    }
    100% {
        top: 0;
        animation-timing-function: ease-in;
    }
}

@-webkit-keyframes pace-compress {
    0% {
        bottom: 0;
        margin-left: -30px;
        width: 60px;
        height: 75px;
        background: rgba(20, 20, 20, .1);
        box-shadow: 0 0 20px 35px rgba(20, 20, 20, .1);
        border-radius: 30px / 40px;
        -webkit-animation-timing-function: ease-in;
    }
    100% {
        bottom: 30px;
        margin-left: -10px;
        width: 20px;
        height: 5px;
        background: rgba(20, 20, 20, .3);
        box-shadow: 0 0 20px 35px rgba(20, 20, 20, .3);
        border-radius: 20px / 20px;
        -webkit-animation-timing-function: ease-out;
    }
}

@-moz-keyframes pace-compress {
    0% {
        bottom: 0;
        margin-left: -30px;
        width: 60px;
        height: 75px;
        background: rgba(20, 20, 20, .1);
        box-shadow: 0 0 20px 35px rgba(20, 20, 20, .1);
        border-radius: 30px / 40px;
        -moz-animation-timing-function: ease-in;
    }
    100% {
        bottom: 30px;
        margin-left: -10px;
        width: 20px;
        height: 5px;
        background: rgba(20, 20, 20, .3);
        box-shadow: 0 0 20px 35px rgba(20, 20, 20, .3);
        border-radius: 20px / 20px;
        -moz-animation-timing-function: ease-out;
    }
}

@keyframes pace-compress {
    0% {
        bottom: 0;
        margin-left: -30px;
        width: 60px;
        height: 75px;
        background: rgba(20, 20, 20, .1);
        box-shadow: 0 0 20px 35px rgba(20, 20, 20, .1);
        border-radius: 30px / 40px;
        animation-timing-function: ease-in;
    }
    100% {
        bottom: 30px;
        margin-left: -10px;
        width: 20px;
        height: 5px;
        background: rgba(20, 20, 20, .3);
        box-shadow: 0 0 20px 35px rgba(20, 20, 20, .3);
        border-radius: 20px / 20px;
        animation-timing-function: ease-out;
    }
}
